[data-id="2060522f9c0d01f7"],
[data-id="c8d872e4efae9920"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/85% url('img/sans.png') black;
}

[data-id="847f68688d4d640c"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat 50% 100%/120% url('/img/bunker.webp') black;
}

[data-id="d7fdcdaee892b48b"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat 50% 10%/100% url('/img/dark_world.png') black;
}

[data-id="d3b33b42c0dd99f4"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat 25% 50%/cover url('/img/entry17.png') black;
}

[data-id="90d46273ea57b785"] {
    letter-spacing: 5px;
    font-size: 2.2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/140% url('/img/onion.jpg') black;
}

[data-id="0ffa795e16ca7286"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/cover url('/img/depths.webp') black;
}

[data-id="bd2f1077a3ac9614"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/cover url('/img/roaring.png') black;
}

[data-id="be21817e0d972529"] {
    letter-spacing: 5px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat 50% 20%/70% url('/img/ICE-E.webp') black;
}

[data-id="77641d60824af171"] {
    letter-spacing: 5px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat 50% 10%/140% url('/img/everyman.jpg') black;
}

[data-id="a6890c33ef8a66e4"] {
    letter-spacing: 5px;
    font-size: 3em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0) 100%),
        repeat-x 66% center/contain url('/img/heaven.png') black;
}

[data-id="fd60f8f392806f89"] {
    letter-spacing: 5px;
    font-size: 3em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat top center/cover url('/img/angel.png') black;
}

[data-id="5636f049874ddcc1"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/cover url('/img/prophecy.png') black;
}

[data-id="45e813e6a1d0684e"] {
    letter-spacing: 5px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/75% url('/img/river_person.webp') black;
}

[data-id="106b35b47dfba7ad"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 25%/110% url('/img/noun-chess-knight-589743.svg') black;
}

[data-id="b2cfbf0f0e7a1bd9"] {
    letter-spacing: 5px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/65% url('/img/spamton.webp') black;
}

[data-id="da797398d598d9f3"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center bottom/80% url('/img/seam.webp') black;
}

[data-id="e9d6033f6cbc8dde"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 25%/75% url('/img/jevil.webp') black;
}

[data-id="56ba6e8ea0267332"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 25%/60% url('/img/rudy.webp') black;
}

[data-id="9b853934c2fbd910"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 25%/60% url('/img/question-mark-7-256.gif') black;
}

[data-id="b9ca72ed61224249"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 30%/80% url('/img/question-mark-7-256.gif') black;
}

[data-id="43e475a69c6c385d"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/112% url('/img/noelle.png') black;
}

[data-id="14b641b02d056c74"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 25%/70% url('/img/asgore_face.webp') black;
}

[data-id="16b683a2a9597e8e"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/75% url('/img/toriel_face.webp') black;
}

[data-id="eea27837791b42c4"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 30%/80% url('/img/question-mark-7-256.gif') black;
}

[data-id="bce93c78c44a5bac"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/55% url('/img/kris.webp') black;
}

[data-id="57dba4e2e868d6f2"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/70% url('/img/susie.jpg') black;
}

[data-id="66d54804400bf7e1"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/60% url('/img/ralsei.webp') black;
}

[data-id="f7702a474f02c6bc"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat 30% 40%/70% url('/img/undyne_face.webp') black;
}

[data-id="2519afe04ba5e76a"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 30%/75% url('/img/alphys_face.webp') black;
}

[data-id="65ffa2f55ce2c5b0"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center -25%/95% url('/img/church.png') black;
}

[data-id="789ccc2741d787ff"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/60% url('/img/father_alvin.webp') black;
}

[data-id="c28a70ee790e8062"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center bottom/90% url('/img/gerson.webp') black;
}

[data-id="5ed71323885dd1eb"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/cover url('/img/vessel.jpg') black;
}

[data-id="aa604e6e3ef5b851"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/90% url('/img/toriel_full.png') black;
}

[data-id="238724126541b477"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/110% url('/img/asgore_full.png') black;
}

[data-id="5ed409767a8f4ab1"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 30%/60% url('/img/asriel.webp') black;
}

[data-id="88d490c2d125a409"] {
    letter-spacing: 5px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 25%/70% url('/img/chara.webp') black;
}

[data-id="7080286449f2668d"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 75%/120% url('/img/frisk.webp') black;
}

[data-id="9b5fb19f199cc1d3"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 25%/contain url('/img/flowey.webp') black;
}

[data-id="9c3107277fa44f8c"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat 20% 25%/85% url('/img/undyne.webp') black;
}

[data-id="fc1278447ae8fbac"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat 25% 25%/85% url('/img/alphys.webp') black;
}

[data-id="6aa9d91dad468dc7"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat 65% 25%/90% url('/img/papyrus.webp') black;
}

[data-id="6c462d8374056777"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/80% url('/img/metatton.webp') black;
}

[data-id="dfacc38517b5d48c"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 15%/100% url('/img/core.webp') black;
}

[data-id="085e90cd66b7545f"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/110% url('/img/true_lab.webp') black;
}

[data-id="f17539020b102fba"] {
    letter-spacing: 5px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/contain url('/img/amalgamates.png') black;
}

[data-id="c50f6a183e17a440"] {
    letter-spacing: 0px;
    font-size: 2em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/80% url('/img/redacted.webp') black;
}

[data-id="dd8b825f0361b955"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 35%/90% url('/img/question-mark-7-256.gif') black;
}

[data-id="2d85f766f52187a6"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat 50% 40%/200% url('/img/sans_workshop.webp') black;
}

[data-id="4b950c8d2e15295a"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/cover url('/img/sans_room.jpg') black;
}

[data-id="d51f0adf51d6e97a"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/contain url('/img/him.webp') black;
}

[data-id="07d4812778bde5bd"] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center 25%/90% url('/img/SOUL.webp') black;
}


/* TEMPLATE */
/*
[data-id=""] {
    letter-spacing: 5px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0) 100%),
        no-repeat center/cover url('/img') black;
}
*/