* {
    box-sizing: border-box;
}

/*body {
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
}*/

html, body {margin: 0; height: 100%; overflow: hidden; background-color: black;}

main {
    min-height: 6000px;
    min-width: 8500px;
    background: content-box radial-gradient(closest-side, hsl(260deg 25% 15%), black);
}

#canvas-edges {
    z-index: 100;
    pointer-events: none;
    user-select: none;
    overflow:visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.node {
    z-index: 200;
    position: absolute;
    background-color: black;
    color: white;
    border: solid 3px white;
}

#reader-widget {
    position: fixed;
    top: 25px;
    left: 50px;
    z-index: 1000;
    height: 80vh;
    width: 60vh;
    background-color: black;
    color: white;
    border: solid 5px white;
    overflow-y: scroll;
    scrollbar-width: none;
}

.hidden {
    visibility: hidden;
}