* {
    box-sizing: border-box;
}

/*body {
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
}*/

html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

main {
    min-height: 12000px;
    min-width: 17000px;
    background: content-box radial-gradient(closest-side, hsl(260deg 25% 15%), black);
}

#canvas-edges {
    z-index: 100;
    user-select: none;
    overflow:visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.node {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    position: absolute;
    background-color: rgba(0, 0, 0);
    opacity: 0.9;
    color: white;
    border: solid 5px white;
    text-align: center;
    user-select: none;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
}
.node.pic {
    align-items: end;
    padding-bottom: 10px;

}
.node.meta {
    background-color: hsla(222, 56%, 12%, 0.5);
    border: solid 5px hsl(222, 91%, 82%);
}

.node.selected {
    border-color: yellow;
}

path {
    stroke-width: 5px;
}

path:hover {
    stroke-width: 10px;
}

#reader-widget {
    position: fixed;
    top: 25px;
    left: 50px;
    z-index: 1000;
    height: 80vh;
    width: 60vh;
    background-color: rgb(20, 20, 20);
    color: white;
    border: solid 5px white;
    padding: 10px 15px;
    font-size: 18px;
}

#reader-widget .content {
    padding: 0px 15px;
    height: 100%;   
    overflow-y: scroll;
    scrollbar-width: none;
}

#reader-widget ul,
#reader-widget li {
    margin-top: 6px;
    margin-bottom: 6px;
}

#reader-widget a {
    color: cornflowerblue;
    text-decoration: underline;
    cursor: pointer;
}

#reader-widget .close-button {
    position: absolute; 
    top: 0px; 
    right: 0px;
    z-index: 2000;
    transform: translateX(50%) translateY(-50%); 
    height: 30px; 
    width: 30px; 
    background-color: black;
    color: white;
    border: solid 3px white;
    font-size: 22px; 
    text-align: center; 
    cursor: pointer;
}

#edge-info {
    position: absolute; 
    top: 0px; 
    right: 0px;
    z-index: 3000;
    min-height: 30px; 
    width: max-content;
    max-width: 150px;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    border: solid 1px white;
    pointer-events: none;
    opacity: 1;
    transform: translate(-50%, calc(-100%));
}

#edge-info.hide {
    opacity: 0;
}

.hidden {
    visibility: hidden;
}